<html>
<head>
<title>Tool Status: Home</title>
</head>
<body>
  {% extends 'ts_system/base.html'%}
  {% load static %}
  {% block content %}
  {% if user.is_authenticated %}

  {% block custom_css %}
  <style>
    .first_table{
      border-collapse: collapse;
      width: 100%;
    }
    .second_table{
      table-layout: fixed;

    }
    .first_table th, .first_table td {
      padding: 8px;
      text-align: left;
      border-bottom: none;
      vertical-align:top;
    }
    .second_table th, .second_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .second_table th, .second_table td {
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  border-left: 2px solid #ddd;
  }
  td:first-child, th:first-child {
  border-left: none;
  }
  .second_table tr:hover{
    background-color: #96C0E5;
  }
  .grey {
  background-color: rgba(#ddd);
  }
  .blue {
  background-color: rgba(138, 162, 241, 0.25);
  }
  .turkiz {
  background-color: rgba(118, 236, 230, 0.25);
  }
  </style>

  {% endblock custom_css %}
  {% block bodydata %}
  <head>
    <h1 class = "text-center">Open Tools with missing WOs</h1>
    </head>
  
    <!-- <a href="{% url 'export_csv_not_shipped'%}" class = "export_csv" ><span class="material-symbols-outlined"></span>Save Current Data to CSV</a>
  <br><br> -->

<!-- {{myFilter.form}} -->
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
                  <div>
                  <table class="second_table" name="data_table">
                    <colgroup>
                      <col class="grey" span="9" />
                      <col class="blue" span="2" />
                      <col class="turkiz" span="2"/>
                      <col class="blue" span="2" />
                      <col class="turkiz" span="2"/>                      
                      <col class="blue" span="2" />
                      <col class="turkiz" span="2"/>
                      <col class="blue" span="2" />
                      <col class="turkiz" span="2"/>
                      <col class="blue" span="2" />
                      <col class="turkiz" span="2"/>
                    </colgroup>
                      <tr>
                          <th style="background-color:rgb(149, 159, 168)" >UTID</th>
                          <th style="background-color:rgb(149, 159, 168)" >Tool</th>
                          <th style="background-color:rgb(149, 159, 168)" >SO FID</th>
                          <th style="background-color:rgb(149, 159, 168)" >Customer</th>
                          <th style="background-color:rgb(149, 159, 168)" >Tool Status</th>
                          <th style="background-color:rgb(149, 159, 168)" >Open Date</th>
                          <th style="background-color:rgb(149, 159, 168)" >Ship Date</th>
                          <th style="background-color:rgb(149, 159, 168)" >Comment</th>
                          <th style="background-color:rgb(149, 159, 168)" >Handler</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >K MAT</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >WO1</th>
                          <th style="background-color:rgba(6, 104, 99, 0.384)" >Tester Type</th>
                          <th style="background-color:rgba(6, 104, 99, 0.384)" >WO2</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)">BBSE</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >WO3</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >WLR FD</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >WO4</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >OPTION LDSR</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >WO5</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >UVR eUVR</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >WO6</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >AiD SSiD</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >WO7</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >Compensator</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >WO8</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >MSWAVECAL</th>
                          <th style="background-color:rgba(10, 54, 199, 0.342)" >WO9</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >NLR Ceramic Chuck</th>
                          <th style="background-color:rgb(6, 104, 99, 0.384)" >WO10</th>
                          <th style="background-color:rgb(149, 159, 168)" >Others</th>
                          <th style="background-color:rgb(149, 159, 168)" >Comments2</th>
                          <th style="background-color:rgb(149, 159, 168)" >Last Updated at</th>
                      </tr>
                      {% for utid in utids %}
                          <tr>
                              <!-- <td >{{ utids.id }}</td> -->
                              <td>{{ utid.UTID }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Tool">{{ utid.Tool }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="SO_FID">{{ utid.SO_FID }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Customer">{{ utid.Customer }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="tool_status">{{ utid.tool_status }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Open_Date">{{ utid.Open_Date }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Ship_Date">{{ utid.Ship_Date }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Comment">{{ utid.Comment }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Handler">{{ utid.Handler }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="K_MAT">{{ utid.K_MAT }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO1">{{ utid.WO1 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Tester_Type">{{ utid.Tester_Type }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO2">{{ utid.WO2 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="BBSE">{{ utid.BBSE }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO3">{{ utid.WO3 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WLR_FD">{{ utid.WLR_FD }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO4">{{ utid.WO4 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="OPTION_LDSR">{{ utid.OPTION_LDSR }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO5">{{ utid.WO5 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="UVR_eUVR">{{ utid.UVR_eUVR }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO6">{{ utid.WO6 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="AiD_SSiD">{{ utid.AiD_SSiD }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO7">{{ utid.WO7 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Compensator">{{ utid.Compensator }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO8">{{ utid.WO8 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="MSWAVECAL">{{ utid.MSWAVECAL }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO9">{{ utid.WO9 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="NLR_Ceramic_Chuck">{{ utid.NLR_Ceramic_Chuck }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="WO10">{{ utid.WO10 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Others">{{ utid.Others }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="Comments2">{{ utid.Comments2 }}</td>
                              <td class="editable" data-id="{{ utid.UTID }}" data-type="created_at">{{ utid.created_at }}</td>
                          </tr>
                      {% endfor %}
                  </table>

  </div>
  {% endblock bodydata %}


  {% else %}
    <h4 class = "text-center">You need to login to continue</h4>
  {% endif %}
</body>
</html>
{% endblock %}
